$white: #fff;
$black: #000;
$nav_bg: #e41827;
$primary: #0d9737;
$light_primary: #33ea6a;
$secondary: #1b1e25;
$lighter_bg: #f7f7f7;
$light_bg: #eaecef;
$hero_bg: #1a1f25;
$table_border: #b4b4b4;
$light_border: rgba(234, 236, 239, 0.3);
$lighter_text: #353a45;

/* MEDIA SCREEN

    @media screen and (max-width: 400px) {

    }
      @media screen and (min-width: 576px) {

    }
      @media screen and (min-width: 768px) {

    }
      @media screen and (min-width: 992px) {

    }
      @media screen and (min-width: 1200px) {

    }
*/
