@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./colors";
@import "./variables";

/* 
FONTS 

font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.special_font {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAV STYLES */

.nav {
  background: $nav_bg;
  color: $white;
  width: 100%;

  &_inner {
    @include flex_center();
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }

  &_logo {
    @include flex_center();
    justify-content: flex-start;
    img {
      width: 45%;

      @media screen and (min-width: 992px) {
        width: 100%;
        max-width: 15rem;
      }
    }
  }

  &_actions {
    display: none;
    gap: 1rem;
    @media screen and (min-width: 992px) {
      @include flex_center();
    }

    p {
      font-weight: 600;
      text-decoration: underline;
      text-transform: capitalize;
    }
  }

  .toogle_btn {
    display: block;
    img {
      width: 2rem;
      aspect-ratio: 1/1;
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  /* NAV DOWN */
  &_down {
    overflow-x: scroll;
    margin-top: 1rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    display: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (min-width: 992px) {
      display: block;
    }

    &_inner {
      @include flex_center();
      justify-content: flex-start;
      max-width: 100%;
      padding: 0 1rem;

      @media screen and (min-width: 1200px) {
        justify-content: center;
      }

      li {
        @include flex_center();
        padding: 0 1rem;
        width: fit-content;
        min-width: 5rem;
        padding: 0 1rem;
        height: 2.5rem;
        text-transform: capitalize;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        @include hover_animate();
        transform: skewX(-6deg);

        @media screen and (min-width: 1200px) {
          min-width: 7rem;
          height: 4rem;
        }
        &:hover,
        &.active {
          background: $white;
          color: $nav_bg;
          transform: skewX(-6deg);
        }
      }
    }
  }

  /* NAV BOTTOM */
  &_bottom {
    width: 100%;
    max-width: 98vw;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    &_inner {
      @include flex_center();
      justify-content: flex-start;
      gap: 0.5rem;
      width: 100%;
      max-width: 100%;
      height: 3rem;
      padding: 0 1rem;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      @media screen and (min-width: 1400px) {
        justify-content: center;
      }

      li {
        position: relative;
        @include flex_center();
        justify-content: flex-start;
        min-width: fit-content;
        padding: 0 1rem;
        height: 2.5rem;
        text-transform: capitalize;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        @include hover_animate();
        color: $black;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $nav_bg;
          transform-origin: bottom right;
          transition: all 0.5s ease-in-out;
        }

        &:hover::after,
        &.active::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

/* HERO SEC */

.hero {
  &_sec {
    background: $hero_bg;
    position: relative;
    height: 100%;
    z-index: 0;
    overflow-y: hidden;
    padding: 1rem 0;

    @media screen and (min-width: 576px) {
      padding: 0;
      height: 35dvh;
    }
  }

  &_banner {
    position: absolute;
    z-index: -1;
    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:last-child {
      bottom: 0;
      right: 0;
    }
  }

  &_inner {
    @include flex_center();
    flex-direction: column;
    color: $white;
    gap: 1.5rem;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 576px) {
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
    }

    @media screen and (min-width: 992px) {
      justify-content: center;
    }

    img {
      display: none;
      width: 100%;
      height: 35dvh;
      z-index: 0;
      @media screen and (min-width: 992px) {
        display: block;
        max-width: 28rem;
      }
      @media screen and (min-width: 1200px) {
        max-width: fit-content;
      }
    }

    h3 {
      font-size: 1.4rem;
      line-height: 2.5rem;
      font-style: italic;
    }
  }

  &_left {
    height: 100%;
    width: 90vw;
    padding: 0.5rem;

    @media screen and (min-width: 576px) {
      width: 100%;
      min-width: 16rem;
      max-width: fit-content;
    }

    ul {
      li {
        border-top: 1px solid $light_border;
        padding: 0.5rem 0.6rem;
        font-size: 1rem;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include hover_animate();

        span {
          display: block;
          font-weight: 800;
          color: $primary;
          font-size: 1.2rem;
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  &_right {
    height: 100%;

    &_inner {
      padding: 0.5rem;

      p {
        border-left: 5px solid $light_primary;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.17;
        color: $light_primary;
        padding: 0 0.5rem;
      }
    }

    &_input {
      display: grid;
      place-content: center;
      margin-top: 1rem;
      gap: 0.5rem;
      & > div {
        width: 100%;
        height: 2rem;
        padding: 0.5rem;
        @include flex_center();
        gap: 0.5rem;
        background: $white;
        color: $black;
        border-radius: 0.3rem;

        span {
          font-size: 0.8rem;
        }
        input {
          background: transparent;
          border: none;
          outline: none;
        }
      }
    }

    button {
      padding: 0.6rem;
      background: $primary;
      color: $white;
      font-size: 1.2rem;
      font-weight: 500;
      @include hover_animate();
      border: none;
      outline: none;
      border-radius: 0.3rem;
      text-transform: capitalize;
      scale: 0.98;
      &:hover {
        font-weight: 600;
        scale: 1;
      }
    }
  }
}

/* BANNER SEC */
.banner {
  &_sec {
    display: none;
    @media screen and (min-width: 1024px) {
      @include flex_center();
    }
  }
}

/* TABLE SECTION */
.table {
  &_sec {
    width: 100%;
    padding: 1rem 0;
  }

  &_inner {
    display: grid;
    place-content: center;
    gap: 1rem;
  }

  &_main {
    width: 100%;
    max-width: fit-content;
    border: 1px solid $table_border;
    background: $white;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    &.dark_mode {
      background: $secondary;
      color: $white;

      p {
        color: $white !important;
      }
    }

    &_inner {
      padding: 1rem 0.5rem;
      width: 100%;
      min-width: fit-content;
    }

    &_top {
      &_top {
        @include flex_center();
        justify-content: space-between;
        gap: 1rem;

        & > div {
          @include flex_center();
          gap: 1rem;
          h3 {
            font-size: 1.5rem;
          }
        }

        ul {
          @include flex_center();
          gap: 1rem;

          li {
            @include flex_center();
            gap: 0.3rem;
            text-transform: capitalize;

            img {
              width: 0.9rem;
              aspect-ratio: 1/1;
            }
          }
        }
      }

      &_bottom {
        margin-top: 1rem;
        ul {
          @include flex_center();
          justify-content: flex-start;
          gap: 0.5rem;
          width: 100%;
          max-width: 100%;
          height: 3rem;
          padding: 0 1rem;
          overflow: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          @media screen and (min-width: 1400px) {
            justify-content: center;
          }

          li {
            position: relative;
            @include flex_center();
            gap: 0.5rem;
            min-width: fit-content;
            padding: 0 1rem;
            height: 2.6rem;
            text-transform: capitalize;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            @include hover_animate();

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 4px;
              bottom: 0;
              left: 0;
              background-color: $primary;
              transform-origin: bottom right;
              transition: all 0.5s ease-in-out;
            }

            &:hover::after,
            &.active::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }

            img {
              width: 0.9rem;
              aspect-ratio: 1/1;
            }
          }
        }
      }
    }

    &_middle {
      border-top: 1px solid $light_bg;
      border-bottom: 1px solid $light_bg;

      &_inner {
        @include flex_center();
        justify-content: flex-start;
        padding: 1rem;
        gap: 1rem;

        li {
          width: 9rem;
          height: 4.5rem;
          padding: 0.5rem;
          padding-right: 0;
          background: $lighter_bg;
          text-transform: capitalize;
          display: grid;
          gap: 0.2rem;
          border-radius: 0.3rem;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          scale: 1;
          outline: 1px solid $light_bg;

          &:hover,
          &.active {
            scale: 1.1;
            outline: 2px solid $primary;
          }

          span {
            font-size: 1rem;
            color: $lighter_text;
            font-weight: 300;
          }

          p {
            color: $black;
            font-weight: 700;
            font-size: 1.1rem;
          }
        }
      }
    }

    &_bottom {
      &_nav {
        @include flex_center();
        justify-content: flex-start;
        padding: 1rem 0.5rem;

        p {
          font-size: 1.1rem;
          font-weight: 700;
          @include flex_center();
          justify-content: flex-start;
          gap: 0.5rem;
          text-transform: capitalize;
          color: $lighter_text;
          min-width: 27rem;

          &.dark_mode {
            color: $white;
          }
        }

        & > div {
          @include flex_center();
        }

        ul {
          @include flex_center();
          gap: 2.4rem;
          margin-right: 4rem;

          &:first-child {
            @include flex_center();
            gap: 3.5rem;
            position: relative;
            inset: 0 1rem;
          }

          li {
            font-size: 0.9rem;
            color: $light_text;
            font-weight: 600;
            pointer-events: none;
            text-transform: capitalize;
          }
        }
      }

      &_details {
        &_box {
          padding: 0 0.5rem;
          @include flex_center();
          justify-content: flex-start;
          gap: 0.5rem;
        }

        &_left {
          font-weight: 500;
          font-size: 0.9rem;
          display: grid;
          gap: 0.2rem;
          min-width: 6.5rem;

          p {
            color: $lighter_text;

            &.dark_mode {
              color: $white;
            }
          }

          span {
            color: $id_text;
          }
        }

        &_right {
          border-top: 1px solid $light_bg;
          padding: 0.5rem 0;

          &_inner {
            @include flex_center();
            gap: 8rem;

            p {
              text-transform: capitalize;
              color: $lighter_text;
              font-weight: 300;
              font-size: 0.9rem;
              min-width: fit-content;
            }

            & > div {
              @include flex_center();

              img {
                width: 1.5rem;
                aspect-ratio: 1/1;
                margin-right: 1rem;
              }

              .odds {
                @include flex_center();
                gap: 0.5rem;
                ul {
                  @include flex_center();
                  overflow: hidden;
                  border-radius: 0.2rem;

                  li {
                    background: $primary;
                    color: $white;
                    height: 2rem;
                    width: 4rem;
                    @include flex_center();
                    font-weight: 600;
                    gap: 0.5rem;
                    cursor: pointer;
                    scale: 0.98;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                      scale: 1;
                      background: $light_primary;
                    }

                    &:nth-child(2) {
                      border-inline: 1px solid $lighter_bg;
                    }

                    span {
                      rotate: 90deg;
                      font-weight: 800;
                    }
                  }
                }
              }

              .points {
                margin-left: 1rem;
                font-size: 0.8rem;
                font-weight: 500;
                @include flex_center();
                gap: 0.5rem;

                span {
                  display: block;
                  font-weight: 800;
                  color: $primary;
                  font-size: 1rem;
                  padding: 0;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  background: $secondary;
  color: $white;

  &_inner {
    padding: 2rem 1rem;
  }

  &_top {
    &_inner {
      @include flex_center();
      align-items: flex-start;
      gap: 2.5rem;
      flex-wrap: wrap;
    }
  }

  &_first {
    &_inner {
      display: grid;
      gap: 1.5rem;
    }
    &_top {
      @include flex_center();
      justify-content: flex-start;

      img {
        width: 10rem;
        height: fit-content;
      }
    }

    &_bottom {
      @include flex_center();
      gap: 0.5rem;

      img {
        width: 14rem;
        height: fit-content;

        &:last-child {
          width: 3rem;
        }
      }
    }
  }

  h4 {
    font-size: 0.9rem;
    line-height: normal;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  ul {
    display: grid;
    gap: 1rem;

    li {
      @include flex_center();
      justify-content: flex-start;
      gap: 0.5rem;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 0.9rem;
      @include hover_animate();

      &:hover {
        text-decoration: underline;
      }

      span {
        font-weight: 800;
      }
    }
  }

  &_fourth {
    display: grid;
    gap: 0.5rem;

    p {
      font-size: 0.9rem;
      font-weight: 400;

      span {
        font-weight: 500;
        text-decoration: underline;
      }
    }

    div {
      @include flex_center();
      justify-content: flex-start;
      gap: 1rem;
      margin-top: 1rem;

      img {
        @include hover_animate();
      }
    }
  }
}
