@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./colors";
@import "./variables";

/* 
FONTS 

font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.special_font {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAV STYLES */

.nav {
  background: $nav_bg;
  color: $white;
  width: 100%;

  &_inner {
    @include flex_center();
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }

  &_logo {
    @include flex_center();
    justify-content: flex-start;
    img {
      width: 45%;

      @media screen and (min-width: 992px) {
        width: 100%;
        max-width: 15rem;
      }
    }
  }

  &_actions {
    display: none;
    gap: 1rem;
    @media screen and (min-width: 992px) {
      @include flex_center();
    }

    p {
      font-weight: 600;
      text-decoration: underline;
      text-transform: capitalize;
    }
  }

  .toogle_btn {
    display: block;
    img {
      width: 2rem;
      aspect-ratio: 1/1;
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  /* NAV DOWN */
  &_down {
    overflow-x: scroll;
    margin-top: 1rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    display: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (min-width: 992px) {
      display: block;
    }

    &_inner {
      @include flex_center();
      justify-content: flex-start;
      max-width: 100%;
      padding: 0 1rem;

      @media screen and (min-width: 1200px) {
        justify-content: center;
      }

      li {
        @include flex_center();
        padding: 0 1rem;
        width: fit-content;
        min-width: 5rem;
        padding: 0 1rem;
        height: 2.5rem;
        text-transform: capitalize;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        @include hover_animate();
        transform: skewX(-6deg);

        @media screen and (min-width: 1200px) {
          min-width: 7rem;
          height: 4rem;
        }
        &:hover,
        &.active {
          background: $white;
          color: $nav_bg;
          transform: skewX(-6deg);
        }
      }
    }
  }

  &_bottom {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    &_inner {
      @include flex_center();
      justify-content: flex-start;
      max-width: 100%;
      padding: 0 1rem;

      @media screen and (min-width: 1200px) {
        justify-content: center;
      }

      li {
        @include flex_center();
        padding: 0 1rem;
        width: fit-content;
        min-width: 5rem;
        padding: 0 1rem;
        height: 2.5rem;
        text-transform: capitalize;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        @include hover_animate();
        color: $black;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $nav_bg;
          transform-origin: bottom right;
          transition: all 0.5s ease-in-out;
        }

        &:hover::after,
        &.active::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      /* ul.nav_bottom_inner {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  @include flex_center();
  padding: 0 1rem;
  width: fit-content;
  min-width: 5rem;
  padding: 0 1rem;
  height: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  @include hover_animate();
  color: $black;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $nav_bg;
    transform-origin: bottom right;
    transition: all 0.5s ease-in-out;
  }

  &:hover::after,
  &.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
 */
    }
  }
}

.hover-underline-animation {
  position: relative;
  color: $black;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $nav_bg;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
