@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* MEDIA SCREEN

    @media screen and (max-width: 400px) {

    }
      @media screen and (min-width: 576px) {

    }
      @media screen and (min-width: 768px) {

    }
      @media screen and (min-width: 992px) {

    }
      @media screen and (min-width: 1200px) {

    }
*/
/* MIXINS */
/* CONTAINER */
.main_container {
  padding: 0.5rem;
}
@media screen and (min-width: 576px) {
  .main_container {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .main_container {
    padding: 1rem 4rem;
  }
}
@media screen and (min-width: 1400px) {
  .main_container {
    padding: 1rem 6rem;
  }
}

@media screen and (min-width: 576px) {
  .sub_container {
    width: 100%;
    margin: 0 auto;
    max-width: 80%;
  }
}

/* HOVER ANIMATION */
.hover_animation {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hover_animation:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .hover_animation.small {
    transform: scale(0.9);
  }
  .hover_animation.small:hover {
    transform: scale(1);
  }
}

/* BUTTON VARIABLES */
.btn_main {
  text-transform: capitalize;
  background: #0d9737;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  scale: 1;
  transition: all 0.4s ease-in-out;
  border: none;
  outline: none;
}
.btn_main:hover {
  scale: 1.1;
  font-weight: 700;
}
.btn_main.nav_btn {
  outline: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.1rem;
}

.light_bg {
  background: #eaecef;
}

/* GREEN SPAN */
.green_span {
  display: block;
  width: 1.5rem;
  aspect-ratio: 1/1;
  background: #0d9737;
  border-radius: 50%;
}

/* 
FONTS 

font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.special_font {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAV STYLES */
.nav {
  background: #e41827;
  color: #fff;
  width: 100%;
  /* NAV DOWN */
  /* NAV BOTTOM */
}
.nav_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}
.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.nav_logo img {
  width: 45%;
}
@media screen and (min-width: 992px) {
  .nav_logo img {
    width: 100%;
    max-width: 15rem;
  }
}
.nav_actions {
  display: none;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
  .nav_actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav_actions p {
  font-weight: 600;
  text-decoration: underline;
  text-transform: capitalize;
}
.nav .toogle_btn {
  display: block;
}
.nav .toogle_btn img {
  width: 2rem;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 992px) {
  .nav .toogle_btn {
    display: none;
  }
}
.nav_down {
  overflow-x: scroll;
  margin-top: 1rem;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  display: none;
}
.nav_down::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 992px) {
  .nav_down {
    display: block;
  }
}
.nav_down_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  padding: 0 1rem;
}
@media screen and (min-width: 1200px) {
  .nav_down_inner {
    justify-content: center;
  }
}
.nav_down_inner li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 5rem;
  padding: 0 1rem;
  height: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: skewX(-6deg);
}
.nav_down_inner li:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 1200px) {
  .nav_down_inner li {
    min-width: 7rem;
    height: 4rem;
  }
}
.nav_down_inner li:hover, .nav_down_inner li.active {
  background: #fff;
  color: #e41827;
  transform: skewX(-6deg);
}
.nav_bottom {
  width: 100%;
  max-width: 98vw;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
.nav_bottom_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  height: 3rem;
  padding: 0 1rem;
  overflow: scroll;
}
.nav_bottom_inner::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1400px) {
  .nav_bottom_inner {
    justify-content: center;
  }
}
.nav_bottom_inner li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 1rem;
  height: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
}
.nav_bottom_inner li:hover {
  transform: scale(1.1);
}
.nav_bottom_inner li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e41827;
  transform-origin: bottom right;
  transition: all 0.5s ease-in-out;
}
.nav_bottom_inner li:hover::after, .nav_bottom_inner li.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* HERO SEC */
.hero_sec {
  background: #1a1f25;
  position: relative;
  height: 100%;
  z-index: 0;
  overflow-y: hidden;
  padding: 1rem 0;
}
@media screen and (min-width: 576px) {
  .hero_sec {
    padding: 0;
    height: 35dvh;
  }
}
.hero_banner {
  position: absolute;
  z-index: -1;
}
.hero_banner:nth-child(1) {
  top: 0;
  left: 0;
}
.hero_banner:last-child {
  bottom: 0;
  right: 0;
}
.hero_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .hero_inner {
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .hero_inner {
    justify-content: center;
  }
}
.hero_inner img {
  display: none;
  width: 100%;
  height: 35dvh;
  z-index: 0;
}
@media screen and (min-width: 992px) {
  .hero_inner img {
    display: block;
    max-width: 28rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero_inner img {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.hero_inner h3 {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-style: italic;
}
.hero_left {
  height: 100%;
  width: 90vw;
  padding: 0.5rem;
}
@media screen and (min-width: 576px) {
  .hero_left {
    width: 100%;
    min-width: 16rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.hero_left ul li {
  border-top: 1px solid rgba(234, 236, 239, 0.3);
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hero_left ul li:hover {
  transform: scale(1.1);
}
.hero_left ul li span {
  display: block;
  font-weight: 800;
  color: #0d9737;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.hero_right {
  height: 100%;
}
.hero_right_inner {
  padding: 0.5rem;
}
.hero_right_inner p {
  border-left: 5px solid #33ea6a;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.17;
  color: #33ea6a;
  padding: 0 0.5rem;
}
.hero_right_input {
  display: grid;
  place-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.hero_right_input > div {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  color: #000;
  border-radius: 0.3rem;
}
.hero_right_input > div span {
  font-size: 0.8rem;
}
.hero_right_input > div input {
  background: transparent;
  border: none;
  outline: none;
}
.hero_right button {
  padding: 0.6rem;
  background: #0d9737;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  text-transform: capitalize;
  scale: 0.98;
}
.hero_right button:hover {
  transform: scale(1.1);
}
.hero_right button:hover {
  font-weight: 600;
  scale: 1;
}

/* BANNER SEC */
.banner_sec {
  display: none;
}
@media screen and (min-width: 1024px) {
  .banner_sec {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* TABLE SECTION */
.table_sec {
  width: 100%;
  padding: 1rem 0;
}
.table_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_left {
  width: 100%;
  max-width: 55rem;
  border: 1px solid #b4b4b4;
  background: #fff;
  overflow: scroll;
}
.table_left::-webkit-scrollbar {
  display: none;
}
.table_left_inner {
  padding: 1rem 0.5rem;
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.table_left_top_top {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.table_left_top_top > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.table_left_top_top > div h3 {
  font-size: 1.5rem;
}
.table_left_top_top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.table_left_top_top ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  text-transform: capitalize;
}
.table_left_top_top ul li img {
  width: 0.9rem;
  aspect-ratio: 1/1;
}
.table_left_top_bottom {
  margin-top: 1rem;
}
.table_left_top_bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  height: 3rem;
  padding: 0 1rem;
  overflow: scroll;
}
.table_left_top_bottom ul::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1400px) {
  .table_left_top_bottom ul {
    justify-content: center;
  }
}
.table_left_top_bottom ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 1rem;
  height: 2.6rem;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
}
.table_left_top_bottom ul li:hover {
  transform: scale(1.1);
}
.table_left_top_bottom ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #0d9737;
  transform-origin: bottom right;
  transition: all 0.5s ease-in-out;
}
.table_left_top_bottom ul li:hover::after, .table_left_top_bottom ul li.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.table_left_top_bottom ul li img {
  width: 0.9rem;
  aspect-ratio: 1/1;
}
.table_left_middle {
  border-top: 1px solid #eaecef;
  border-bottom: 1px solid #eaecef;
}
.table_left_middle_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
}
.table_left_middle_inner li {
  width: 9rem;
  height: 4.5rem;
  padding: 0.5rem;
  padding-right: 0;
  background: #f7f7f7;
  text-transform: capitalize;
  display: grid;
  gap: 0.2rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  scale: 1;
  outline: 1px solid #eaecef;
}
.table_left_middle_inner li:hover, .table_left_middle_inner li.active {
  scale: 1.1;
  outline: 2px solid #0d9737;
}
.table_left_middle_inner li span {
  font-size: 1rem;
  color: #353a45;
  font-weight: 300;
}
.table_left_middle_inner li p {
  color: #000;
  font-weight: 700;
  font-size: 1.1rem;
}
.table_left_bottom_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0.5rem;
}
.table_left_bottom_nav p {
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  text-transform: capitalize;
  color: #353a45;
  min-width: 27rem;
}
.table_left_bottom_nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_left_bottom_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-right: 4rem;
}
.table_left_bottom_nav ul:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  position: relative;
  inset: 0 1rem;
}
.table_left_bottom_nav ul li {
  font-size: 0.9rem;
  color: #afafb6;
  font-weight: 600;
  pointer-events: none;
  text-transform: capitalize;
}
.table_left_bottom_details_inner {
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.table_left_bottom_details_left {
  font-weight: 500;
  font-size: 0.9rem;
  display: grid;
  gap: 0.2rem;
  min-width: 6.5rem;
}
.table_left_bottom_details_left p {
  color: #353a45;
}
.table_left_bottom_details_left span {
  color: #d8d8d8;
}
.table_left_bottom_details_right_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.table_left_bottom_details_right_inner p {
  text-transform: capitalize;
  color: #353a45;
  font-weight: 300;
  font-size: 0.9rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.table_left_bottom_details_right_inner > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_left_bottom_details_right_inner > div img {
  width: 1.5rem;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}
.table_left_bottom_details_right_inner > div .odds {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.table_left_bottom_details_right_inner > div .odds ul {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.2rem;
}
.table_left_bottom_details_right_inner > div .odds ul li {
  background: #0d9737;
  color: #fff;
  height: 2rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 0.5rem;
}
.table_left_bottom_details_right_inner > div .odds ul li:nth-child(2) {
  border-inline: 1px solid #f7f7f7;
}
.table_left_bottom_details_right_inner > div .odds ul li span {
  rotate: 90deg;
  font-weight: 800;
}
.table_left_bottom_details_right_inner > div .points {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.table_left_bottom_details_right_inner > div .points span {
  display: block;
  font-weight: 800;
  color: #0d9737;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */